<a href="https://colab.research.google.com/github/Nexros7/Time_Series_Forecasting/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text = input("Enter your word: ")
vowels = ['a','e','i','o','u']
x= []
for i in text.lower():
  if i in vowels:
    x.append(i)
print(x)

Enter your word: AppleeA
['a', 'e', 'e', 'a']

In [ ]:
list = [1,1,3,4,4,4,6,7,8,8,8]

if i in list

Enter a number: 0
no is even

In [ ]:
list = [1,1,3,4,4,4,6,7,8,8,8]
d = {}
for i in list:
  if i in d:
    d[i] += 1

  else:
    d[i] = 1

print(d)

{1: 2, 3: 1, 4: 3, 6: 1, 7: 1, 8: 3}

In [ ]:
str = "betty bought some butter but the butter was bitter ,so betty bought some more butter"

x = str.split(' ')
d = set(x)
print(f"no of unique words = {len(d)}")

no of unique words = 10

In [ ]:
while True:
  z = input("do you want to add data?(yes/no): ")
  if z.lower() == 'yes':
    x = input("Enter your name : ")
    y = input ("Enter your age : ")
    z = f'My name is {x} and i am {y} years old'
    print(z.format(x,y))

  elif z.lower() == 'no':
    break

  else:
    print('type yes or no')

do you want to add data?(yes/no): yes
Enter your name : nah
Enter your age : 12
My name is nah and i am 12 years old
do you want to add data?(yes/no): no

In [ ]:
import math

a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
c = int(input("Enter third number : "))

z = (a+b+c)/3

print("Here is the average : ", z)

Enter first number : 1
Enter second number : 2
Enter third number : 3
Here is the average :  2.0

In [ ]:
length = int(input("Enter the length of cuboid : "))
breadth = int(input("Enter the breadth of cuboid : "))
height = int(input("Enter the height of cuboid : "))

volume = length * breadth * height

print("volume of cuboid : ", volume)

Enter the length of cuboid : 22
Enter the breadth of cuboid : 22
Enter the height of cuboid : 22
volume of cuboid :  10648

In [ ]:
x = [10,20,30,10,40,20,40,50,60,30]

dict = {}
for i in x:
  if i in dict:
    dict[i] += 1

  else:
    dict[i] = 1

print(dict)

{10: 2, 20: 2, 30: 2, 40: 2, 50: 1, 60: 1}

In [ ]:
n = int(input('enter any natural number'))
z = (n *(n + 1))/2
print(z)

enter any number4
10.0

In [ ]:
i= 1
while i < 6:
  print(i * '*')
  i += 1

*
**
***
****
*****

In [ ]:
x = int(input("enter a num"))
num = 1
for i in range(1,x+1):
  num *= i
print(num)

enter a num5
120

In [ ]:
x = 5
for i in range(0, x):
	for y in range(0, i+1):
		print("*", end=" ")
	print()

*
* *
* * *
* * * *
* * * * *

In [4]:
import pandas as pd

df = pd.read_csv("monthly-beer-production-in-austr.csv")
df.describe

<bound method NDFrame.describe of        Month  Monthly beer production
0    1956-01                     93.2
1    1956-02                     96.0
2    1956-03                     95.2
3    1956-04                     77.1
4    1956-05                     70.9
..       ...                      ...
471  1995-04                    127.0
472  1995-05                    151.0
473  1995-06                    130.0
474  1995-07                    119.0
475  1995-08                    153.0

[476 rows x 2 columns]>

df.describe